html, body {
  font-family: Lato;
  width: 100%;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


#title {
  margin-top: 20px;
}

#states, #incomes {
  display: block;
  height: 300px;
}

#states .bar {
  fill : rgb(29, 175, 236);
}

#incomes .bar {
  fill : rgb(254, 202, 48);
}

#charts {
  margin-top: 20px;
}

#embed {
  margin-top: 20px;
}

path.line {
  stroke : #ccc;
  stroke-width: 2px;
  fill : none;
}

path.bracket {
  fill : none;
  stroke : #000;
}

text.chart-title {
  font-weight: bold;
}

text.line-title {
  font-size: 10px;
  font-style: italic;
  font-weight: bold;
}

text.axis-text {
  font-size: 10px;
  font-style: italic;
}

text.bar-label {
  font-size: 12px;
  font-weight: bold;
}

text.bracket-title {
  font-size: 10px;
  font-weight: bold;
}

text.legend-text {
  font-size: 11px;
}

label {
  margin-top: 15px;
}

.urban-toggle {
  display: block;
  width: 100px;
  background-color: #ccc;
  padding: 3px;
}

.urban-toggle .option {
  display: inline-block;
  width: 44px;
  text-align: center;
  cursor: pointer;
}

.urban-toggle .option.selected,
.urban-button.selected {
  background-color: #000;
  color: #fff;
}


.urban-button, .urban-toggle, label {
  font-size: 12px;
}

.urban-button {
  display: inline-block;
  background-color: #ccc;
  text-align: center;
  padding: 3px 5px;
  cursor: pointer;
}

@media(max-width: 978px) {
  .urban-button, .urban-toggle, label {
    font-size: 10px;
  }
}