html, body {
  font-family: Lato;
  width: 100%;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


#content {
  padding: 30px;
}

#title {
  margin-top: 20px;
}

#states, #incomes {
  display: block;
  height: 300px;
}

#states .bar {
  fill : rgb(29, 175, 236);
}

#incomes .bar {
  fill : rgb(254, 202, 48);
}

#charts {
  margin-top: 20px;
}

.chart {
  margin-bottom: 20px;
}


#bottom-buttons .urban-button {
  background-color: #000;
}

path.line {
  stroke : #ec008c;
  stroke-width: 1px;
  fill : none;
}

path.bracket {
  fill : none;
  stroke : #000;
}

text.chart-title {
  font-weight: bold;
}

text.line-title {
  font-size: 10px;
  font-style: italic;
  font-weight: bold;
}

text.axis-text {
  font-size: 10px;
  font-style: italic;
}

text.bar-label {
  font-size: 12px;
  font-weight: bold;
}

text.bracket-title {
  font-size: 10px;
  font-weight: bold;
}

text.legend-text {
  font-size: 11px;
}

label {
  margin-top: 15px;
}

.urban-toggle {
  display: block;
  width: 100px;
}

.urban-toggle .option {
  display: inline-block;
  width: 44px;
  text-align: center;
  cursor: pointer;
  margin: 0px;
}

.urban-toggle .option,
.urban-button {
  color: #fff;
  background-color: #ccc;
}

.urban-toggle .option.selected,
.urban-button.selected {
  background-color: rgb(29,175,236);
}


.urban-button, .urban-toggle, label {
  font-size: 12px;
}

.urban-button {
  background-color: #ccc;
  padding: 3px 5px;
  cursor: pointer;
}

#scenarios .urban-button {
  margin-bottom: 5px;
  width: 60%;
}

@media(max-width: 978px) {
  .urban-button, .urban-toggle, label {
    font-size: 10px;
  }
}

.axis text {
  font-size: 10px;
}

.y.axis.linechart .domain {
  fill : none;
  stroke : none;
}

.grid.linechart .tick {
  stroke-dasharray : 2, 2;
  stroke : #aaa;
}

#tooltip {
  font-size: 12px;
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0.75);
  color:#fff;
  padding: 5px 10px;
  opacity: 0;
}

#tooltip:after, #tooltip:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

#tooltip:after {
  border-color: rgba(0, 0, 0, 0);
  border-top-color: rgba(0, 0, 0, 0);
  border-width: 10px;
  margin-left: -10px;
}

#tooltip:before {
  border-color: rgba(0, 0, 0, 0);
  border-top-color: rgba(0, 0, 0, 0.75);
  border-width: 11px;
  margin-left: -11px;
}

#tooltip span.title {
  font-weight: bold;
}

#pre-text {
  display: none;
}

#tooltip h6 {
  border-bottom: 1px solid #fff;
}