
.plexiglass {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.75);
  display: none;
  opacity: 0;
}

.modal {
  width: 65%;
  display: block;
  margin: 0 auto;
  background-color: #fff;
  color: #000;
  margin-top: 40px;
}

.modal-body {
  display: block;
  max-height: 600px;
  overflow-y: scroll;
}

.deep{
 height: auto;
}

.modal-title {
  width: 100%;
  padding: 10px;
  height: 50px;
  background-color: #EEEFF0;
  font-size: 16px;
  vertical-align: middle;
  color :#00ADEF;
}

.close-modal {
  float: right;
  cursor: pointer;
}

.modal .modal-body pre {
  margin-left: 10px;
  font-size: 10px;
  white-space: pre-wrap;       /* CSS 3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.about-text{
  padding: 10px;
  font-size: 11pt;
  margin-bottom: 0;
}

table.about-table {
  font-size: 11pt;
  margin: 10px;
}


.about-table tbody th,
.about-table tbody td{
 padding: 5px;
}

.about-table tbody th {
  text-align: center;
}


.about-table tbody td:nth-of-type(2) {
  border-right: 1px solid #ccc;
}